.cache
.config
.copilot
.dotnet
.gnupg
.icons
.ignition
.local
.pki
.ros
.rviz2
.sdformat
.ssh
.vscode
.vscode-share
build
Documents
Downloads
hunter
install
log
Music
Pictures
Public
snap
Templates
Videos
.bash_history
.bash_logout
.cortex-debug
QGroundControl.AppImage
.lesshst
.pam_environment
.profile
.sudo_as_admin_successful
